.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    padding-top: 15px;
    z-index: 2;
    .createRouteFeald{
        padding: 10px;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        background: white;
        h2 {
            background-color: cadetblue;
            color: white;
        }
    }

}